.post {
  border: 1px solid #b7b7b7;
  margin-top: 40px;
  background: #fff;
}

.titulo-post {
  padding-left: 20px;
  font-weight: bold;
}

.titulo-post a{
  color: #000;
}

.titulo-post a:hover{

}

.info-adicional {
  padding-left: 25px;
  padding-bottom: 20px;
}

.previa-post {
  padding-left: 25px;
  padding-right: 25px;
  color: #777;
}

.img-noticia img{
  width: 100%;
}

.btn-site{
  background-color: #367251;
  color: #fff;
}

.btn-site:hover{
  background-color: #2b5a40;
  color: #fff;
  text-decoration: none;
}

.btn-continue {
  margin: 10px;
  color: #367251;
  font-weight: 600;
  font-size: 20px;
}

.btn-continue:hover {
  margin: 10px;
  color: #2b5a40;
  font-weight: 600;
}

.sociais-post {
  font-size: 36px;
  color: #E1E4E6;
  padding-top: 8px
}

.sociais-post:hover {
  font-size: 36px;
  /*color: #fff;*/
  padding-top: 8px;
}

/*.face-post:hover {
  font-size: 36px;
  color: #fff;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}*/

/*.twitter-post:hover {
  font-size: 36px;
  color: #1da1f2;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}*/

.saiba {
  border-top: 1px solid #b7b7b7;
  width: 100%;
}

.cate-blog {
  margin-bottom: 0;
  margin-top: 20px;
  margin-left: 20px;
  color: #367251;
}

.cate-blog:hover {
  margin-bottom: 0;
  margin-top: 20px;
  margin-left: 20px;
  color: #225137;
}

.pesquisa {
  /*margin-top: 40px;*/
}

.panel-title {
  font-size: 22px;
  border-bottom: 4px solid #367251;
  padding-bottom: 15px;
  font-weight: bold;
  color: #000000;
}

.panel {
  background: #fff;
}

.body-blog {
  background: #e9eaed;
  padding-bottom: 35px;
}

.btn-pesquisa-blog {
  background: #b22d30;
  color: #fff;
  border: 1px solid #b22d30;
}

.btn-pesquisa-blog:hover {
  background: #fff;
  color: #b22d30;
  border: 1px solid #b22d30;
  transition-duration: 1s;
}
